<body>	
    <nav>
      <div class="nav-wrapper #ff8a80 red accent-1">
        <a href="#" class="logoo">GOURMAND</a>
	<ul class="elem right hide-on-med-and-down">
		<li><a href="{{url_for('showRestaurants')}}">
		<button type="submit" class="btn btn-primary" id="aa">
			<i class="material-icons ">restaurant_menu</i>Show All Restaurants</button>
		</a></li>
		<li><a href="{{url_for('showLogin')}}">
					 <button type="submit" class="btn btn-success" id="aa">
			<i class="fa fa-sign-in " aria-hidden="true"></i> Login</button>
		</a></li>
		</ul>
		
	</div>
	</nav>
</div>
</body>






















































<!--
<body>
    <nav>
      <div class="nav-wrapper grey darken-3">
        <a href="#!" class="brand-logo">Gourmand</a></div>
	<div class="row top-menu">
	<div class="col-md-6 text-capitalize">
		<a href="{{url_for('showRestaurants')}}">
		<button type="submit" class="btn btn-primary">
			<i class="material-icons">restaurant_menu</i>Show All Restaurants</button>
		</a>
	</div>
	<div class="col-md-6 text-right text-capitalize">
					<a href="{{url_for('showLogin')}}">
					 <button type="submit" class="btn btn-success">
			<i class="fa fa-sign-in" aria-hidden="true"></i>Login</button>
		</a>
		
		
	</div>
</div>-->